body {
    background-color: #F4F5F2;
    color: #121212;
    font-family: Roboto, Source Code Pro, monospace;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section, .section-center {
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    justify-content: center;
    font-weight: 100;
    margin: 0 10px
}

.section-left {
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    justify-content: left;
    font-weight: 100;
    margin: 0 10px
}

.section-right {
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    justify-content: right;
    font-weight: 100;
    margin: 0 10px
}


.column_header {
    font-family: Holtwood One SC;
    font-size: 30px;
    font-weight: 900;
    margin: 0 5px
}

.column {
    display: flex;
    flex-direction: column;
    padding: 35px 40px;
}

.icon {
    font-family: Holtwood One SC;
    font-size: 23px;
    padding: 0px 0px 5px;
    margin: 0;
    vertical-align: text-top;
}

#clock {
    font-family: Holtwood One SC;
    font-size: 150px;
    padding: 0 25px;
    margin: 10px 0px;
    border-radius: 3px;
}

a:visited, a:link, a:active {
    color: #555555;
    text-decoration: none;
    font-size: 20px;
    text-indent: 4px;
    line-height: 1.5;
}

.column_entry {
    color: #555555;
    text-decoration: none;
    font-size: 20px;
    text-indent: 4px;
    line-height: 1.5;
    margin: 0;
}

.broken {
    color: #D0021B;
    text-decoration: none;
    font-size: 20px;
    text-indent: 4px;
    line-height: 1.5;
}

a:hover {
    color: #326891 !important
}
